
/* flash message box pops up at bottom right corner of page*/
.message{
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translateX(-50%);
    color: #c3ffbf;
    width: 400px;
    height: 80px;
    vertical-align: middle;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, .2);
    z-index: 100
}

.message-success{
    background-color: rgba(110, 250, 102,0.2);
    border: solid 1px #0c8c00;
}


/* Used for debugging purposes. not part of final styles */
.message-error{
    display: none;
    background-color: rgba(199, 24, 30,0.2);
}

.message-text{
    font-family: 'Helvetica', sans-serif;
    color:#c3ffbf;
    padding: 5%;
    text-align: center;
}

/* Used for debugging purposes. not part of final styles */
.error-messages{
    font-size:12;
    color:red;
}
