{% load static %}
<DOCTYPE!>

<html>
    <head>
        <title>Fish on</title>
        <link rel="stylesheet" type="text/css" href="{% static 'home_app/base.css' %}">
        {%block styles %}{% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Francois+One&family=Fredoka+One&family=Saira+Extra+Condensed:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    </head>
    <body>
        <div class = "top-bar">
            <a href='{% url 'home_page' %}'>
                <div class = "button">Home</div>
            </a>
            <a href='#'>
                <div class = "button">Host</div>
            </a>
            <a href='#'>
                <div class = "button">Join</div>
            </a>
            <a href='{% url 'signup_page' %}'>
                <div class="leftbutton">&nbsp&nbspSign&nbspUp&nbsp&nbsp</div>
            </a>
            <a href='#'>
                <div class="leftbutton leftbutton2">&nbsp&nbspSign&nbspIn&nbsp&nbsp</div>
            </a>
        </div>
        {% if messages %}
            {% for message in messages%}
                <div class="message message-{{message.tags}}">
                    <div class="message-text">
                        {{message}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
    </body>
</html>
